body {
	padding-bottom: 40px;
	background-color: #eee;
}

.wrap {
	max-width: 330px;
	margin: 0 auto;
}

.wrap .wrap-heading,
.wrap .checkbox {
	margin-bottom: 10px;
}

.wrap .checkbox {
	font-weight: normal;
}

.wrap .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.wrap .form-control:focus {
	z-index: 2;
}

.wrap input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.wrap input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.wrap .action-bar {
	margin-top: 5px;
}

.wrap .game-form {
	margin: 0 0 10px;
}

.panel.hints {
	position: fixed;
	bottom: 0;
}

.panel.hints .label {
	margin: 0 3px;
}
